NET "clk" LOC = "P123" | IOSTANDARD = LVCMOS33;
NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 50 ns HIGH 50%;

NET "hsync" LOC = "P14" | IOSTANDARD = LVCMOS33;
NET "vsync" LOC = "P11" | IOSTANDARD = LVCMOS33;

NET "rgb<2>" LOC = "P23" | IOSTANDARD = LVCMOS33;
NET "rgb<1>" LOC = "P21" | IOSTANDARD = LVCMOS33;
NET "rgb<0>" LOC = "P16" | IOSTANDARD = LVCMOS33;

NET "btn_jump"  LOC = "P143" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "btn_start" LOC = "P141" | IOSTANDARD = LVCMOS33 | PULLUP;
